//Light theme
$bg--light: white;
$bg--card--light: gray;
$text--light: CadetBlue;
$text--2--light: AntiqueWhite;
$brand--blue--light: Aqua;
$border--light: Aquamarine;

//Dark theme
$bg--dark--top: Black;
$bg--dark--bottom: DimGray;
$bg--card--dark: LightSlateGray;
$text--dark: white;
$text--2--dark: gray;
$brand--blue--dark: LightSeaGreen;
$border--dark: DarkSlateGray;
